@page
@model spl.Pages.Officer.AddOfficerModel
@{
    ViewData["Title"] = "Tambah Pegawai";
    ViewData["CurrentMenu"] = "officer";
    Layout = Model.Layout;
}

<div class="container-xxl flex-grow-1 container-p-y">

    <div class="col-xl">
        <div class="card mb-4">
            <div class="card-header d-flex align-items-center">
                <h5 class="mb-0">Tambah Pegawai</h5>
            </div>
            <div class="card-body">
                <div id="error-toast" class="bs-toast toast fade bg-danger hide my-4" role="alert" aria-live="assertive" aria-atomic="true">
                    <div class="toast-header">
                        <i class="bx bx-error me-2"></i>
                        <div class="me-auto fw-semibold">Daftar Tidak Berjaya</div>
                        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                    <div class="toast-body" id="error-msg"></div>
                </div>

                <form id="form-add-officer">
                    <div class="mb-3">
                        <label class="form-label" for="nama">Nama</label>
                        <input type="text" class="form-control" id="nama" name="pegawai.NamaPegawai" placeholder="Sila isikan nama" required />
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="no_ic">Nombor IC</label>
                        <input type="text" class="form-control" id="no_ic" name="pegawai.NoIc" placeholder="Sila isikan nombor IC" required />
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="gred">Gred</label>
                        <select id="gred" name="pegawai.IdGred" class="select2 form-select" required>
                            <option value="" hidden>Pilih Gred</option>

                            @foreach (var item in Model.listGred)
                            {
                                <option value=@item.Id>@item.Abjad @item.Nombor @(item.GelaranPangkat != null ? $"({@item.GelaranPangkat})" : "")</option>
                            }
                        </select>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="bahagian">Bahagian</label>
                        <select id="bahagian" name="pegawai.IdBahagian" class="select2 form-select" required>
                            <option value="" hidden>Pilih Bahagian</option>
                            @foreach (var item in Model.listBahagian)
                            {
                                <option value=@item.Id>@item.NamaBahagian</option>
                            }
                        </select>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="cawangan">Cawangan <span class="text-muted fw-light">(Optional)</span></label>
                        <select id="cawangan" name="pegawai.IdCawangan" class="select2 form-select">
                            <option hidden>Pilih Cawangan</option>
                        </select>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="unit">Unit <span class="text-muted fw-light">(Optional)</span></label>
                        <select id="unit" name="pegawai.IdUnit" class="select2 form-select">
                            <option hidden>Pilih Unit</option>
                        </select>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="stesen">Stesen <span class="text-muted fw-light">(Optional)</span></label>
                        <select id="stesen" name="pegawai.IdStesen" class="select2 form-select">
                            <option hidden>Pilih Stesen</option>

                            @foreach (var item in Model.listStesen)
                            {
                                <option value=@item.Id>@item.NamaStesen</option>
                            }
                        </select>
                    </div>

                    <div class="mt-2">
                        <button type="submit" class="btn btn-primary me-2">Hantar</button>
                        <button type="button" class="btn btn-outline-secondary" onclick="history.back()">Batal</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        $('#bahagian').on('change', function () {
            var bahagianId = $(this).val();
            var listBahagian = @Html.Raw(Json.Serialize(Model.listBahagian));

            $.ajax({
                type: 'POST',
                url: '/officer/addofficer?handler=CawanganUnit',
                data: {
                    bahagianId: bahagianId,
                    list: listBahagian
                },
                success: function (response) {
                    var cawanganDropdown = $('#cawangan');
                    cawanganDropdown.emptyajax
                    cawanganDropdown.append($('<option hidden></option>').attr('value', '').text('Pilih Cawangan'));

                    $.each(response.cawangan, function (index, item) {
                        cawanganDropdown.append($('<option></option>').attr('value', item.id).text(item.namaCawangan));
                    });

                    var unitDropdown = $('#unit');
                    unitDropdown.empty();
                    unitDropdown.append($('<option hidden></option>').attr('value', '').text('Pilih Unit'));

                    $.each(response.unit, function (index, item) {
                        unitDropdown.append($('<option></option>').attr('value', item.id).text(item.namaUnit));
                    });
                },
                error: function (xhr, textStatus, errorThrown) {
                    console.log('Error getting cawangan data: ' + errorThrown);
                }
            });
        });
    });

    $('#form-add-officer').submit(function (e) {
        e.preventDefault();

        $.ajax({
            type: 'POST',
            url: '/officer/addofficer?handler=CreateOfficer',
            data: $(this).serialize(),
            success: function (response) {
                if (response.success) {
                    window.location.href = '/officer/officer';
                } else {
                    $('#error-toast').removeClass('hide').addClass('bs-toast toast fade bg-danger show my-4');
                    $('#error-msg').text(response.msg);
                }
            },
            error: function (xhr, status, error) {
                $('#error-toast').removeClass('hide').addClass('bs-toast toast fade bg-danger show my-4');
                $('#error-msg').text(error);
            }
        });
    })
</script>